/* Main */
body {
    line-height: 1.4;
    font-size: 18px;
    color: var(--textColor);
    background-color: var(--backgroundColor);
    padding: 20px;
    margin: auto;
    width: 90%;
}
h1, h2, h3 {
    line-height: 1.2
}

/* Tables */
table {
    border: 1px solid var(--textColor);
    counter-set: rownum -1;
    width: 100%;
}
tr {
    counter-increment: rownum;
}
th, td {
    border: 1px solid var(--textColor);
}
td:empty {
    visibility: hidden;
}
.indexTable td:first-child::before {
    content: counter(rownum);
    display: inline;
    text-align: center;
    display: block;
}

/* Table Cell Colors */
.greenCell {
    background-color: #C6EFCE;
    color: #006100;
}
.yellowCell {
    background-color: #FFEB9C;
    color: #9C6500;
}
.redCell {
    background-color: #FFC7CE;
    color: #9C0006;
}
.blueCell {
    background-color: #BFD0FF;
    color: #002570;
}
.grayCell {
    background-color: #D6D6D6;
    color: #353535;
}

/* Small details */
select {
    overflow: auto;
}

/* Progress Bars */
.progressAlpha {
    margin: auto;
    text-align: center;
    width: 90%;
}
.progressBeta {
    text-align: left;
    margin: 2px auto;
    font-size: 0px;
    line-height: 0px;
    border: 1px solid var(--progressColorC);
    background: var(--progressColorB);
    overflow: hidden;
}
.progressGamma {
    font-size: 0px;
    line-height: 0px;
    height: 3px;
    min-width: 0%;
    max-width: 100%;
    background: var(--progressColorA);
}
.progressDelta {
    font-size: 8pt;
    font-family: monospace;
}
